@import '../../assets/styles/mixins.scss';
a {
  color: #2196f3;
}
.content {
  box-sizing: border-box;
  align-items: center;
  .index {
    height: 927px;
    width: 100%;
    @include flex-rc-sa;
    background-image: url(https://res.tuocad.com/image/CAX%E5%A4%A9%E5%B7%A5%E5%9B%BE%E5%AD%A6/%E5%8A%A0%E5%85%A5%E6%88%91%E4%BB%AC-%E5%A4%A7%E6%A8%AA%E5%9B%BE.jpg);
    background-size: cover;
    .subheading {
      font-size: 22px;
      color: #397393;
      contact > h3 {
        font-size: 42px;
        letter-spacing: 5px;
        // font-family: PangMenZhengDao;
        font-weight: 400;
        color: #397393;
        margin-bottom: 30px;
      }
      > p {
        font-size: 24px;
        color: #6b92ab;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e1e0e3;
    padding: 42px 0;
    width: 100%;
    .products {
      width: 890px;
      color: #333;
      > h1 {
        font-weight: 600;
        color: #397393;
        font-size: 28px;
        margin-bottom: 20px;
      }
      .productsDetails {
        :nth-child(2n + 1) {
          margin: 10px 0;
          font-weight: 600;
        }
      }
    }
    .about {
      width: 890px;
      margin-top: 50px;
      color: #333;
      > h1 {
        font-weight: 600;
        color: #397393;
        font-size: 28px;
        margin-bottom: 20px;
      }
      :nth-child(3) {
        font-weight: 600;
      }
    }
    .contact {
      margin-top: 50px;
      color: #333;
      > h1 {
        font-weight: 600;
        color: #397393;
        font-size: 28px;
        margin-bottom: 20px;
      }
      &Form {
        width: 850px;
        border: 2px solid #397393;
        box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
        border-radius: 10px;
        background-color: #ffffff;
        display: grid;
        gap: 1px;
        grid-template-columns: 200px 1fr;
        overflow: hidden;
        margin-bottom: 100px;
        font-size: 14px;
        > div {
          padding: 5px;
        }
        > :nth-of-type(4n-2),
        > :nth-of-type(4n-3) {
          background-color: #eceaf0;
        }
        > :nth-of-type(4n-1),
        > :nth-of-type(4n) {
          background-color: #bfbfbf;
        }
      }
    }
  }
}
