.box {
  width: 100%;

  div {
    box-sizing: content-box;
  }

  @mixin img($url: url(../../assets/img/home/home_card_video.png)) {
    background: $url no-repeat;
    background-size: 100% 100%;
  }

  @mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .homeTop {
    height: 912px;
    background: url(https://res.tuocad.com/image/CAX%E5%A4%A9%E5%B7%A5%E5%9B%BE%E5%AD%A6/%E9%A6%96%E9%A1%B5-%E5%A4%A7%E6%A8%AA%E5%9B%BE2.jpg)
      no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .text {
    padding-top: 312px;
    width: 608px;
    height: 182px;
    font-size: 44px;
    font-family: YouYuan;
    font-weight: 400;
    color: #054b72;
    line-height: 66px;
  }

  .btnBox {
    padding-top: 87px;
    width: 608px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 134px;
    align-items: center;

    .btn {
      width: 221px;
      height: 45px;
      border: 0;
      outline: none;
      background: linear-gradient(90deg, #80d0e8, #86b3ec);
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #ffffff;
      line-height: 24px;
    }
  }

  .slideBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 198px;
    width: 172px;
    height: 11px;

    .slide {
      height: 11px;
      width: 11px;
      border-radius: 50%;
      background-color: #367091;
    }

    .vedioPlay {
      height: 39px;
      width: 39px;
      background: url(../../assets/img/home/home_ic_slide.png) no-repeat;
      background-size: 100% 100%;
    }
  }

  .productBox {
    height: 2009px;
    // background: url(../../assets/img/home/home_products.png) no-repeat;
    background-color: #d3eaf4;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header {
      height: 149px;
      width: 193px;
      margin-top: 60px;
      background: url(../../assets/img/home/home_ic_logo.png) no-repeat;
      background-size: 100% 100%;
    }

    .headerText {
      width: 270px;
      height: 49px;
      font-size: 67px;
      margin-top: -18px;
      font-family: PangMenZhengDao;
      font-weight: 400;
      color: #397393;
      line-height: 28px;
      text-shadow: 0px 4px 5px rgba(133, 133, 159, 0.35);
    }

    .line {
      height: 15px;
      width: 77px;
      margin-top: 17px;
      margin-bottom: 62px;
      background: url(../../assets/img/home/home_ic_line.png) no-repeat;
      background-size: 100% 100%;
    }
    // .footerVedio {
    //   width: 1280px;
    //   height: 485px;
    //   @include img(url(../../assets/img/home/home_card_video_big.png));

    //   .play {
    //     margin-top: 195px;
    //     margin-left: 249px;
    //     width: 75px;
    //     height: 75px;
    //   }
    // }

    .more {
      margin-top: 30px;
      width: 127px;
      height: 31px;
      font-size: 31px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #95bbca;
      line-height: 54px;
    }

    .moreShawdow {
      margin-top: 29px;
      width: 285px;
      height: 5px;
      background: #95bbca;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
    }
  }

  .detail {
    position: relative;
    height: 700px;
    background: #d8ecf4;
    text-align: center;

    .leftTop {
      width: 360px;
      height: 385px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .rightBottom {
      width: 325px;
      height: 456px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .title {
      padding-top: 131px;
      padding-bottom: 69px;
      width: 100%;
      height: 45px;
      font-size: 44px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #000000;
      line-height: 72px;
    }

    .content {
      margin-left: 424px;
      text-align: left;
      width: 1081px;
      height: 306px;
      font-size: 28px;
      font-family: SourceHanSansSC;
      font-weight: 400;
      color: #5c5c5c;
      line-height: 40px;
    }
  }

  .someVedio {
    height: 910px;
    background: #e3f6fe;
    text-align: center;

    .title {
      padding-top: 138px;
      width: 100%;
      height: 57px;
      font-size: 60px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #054b72;
      line-height: 28px;
      text-shadow: 0px 6px 5px rgba(133, 133, 159, 0.35);
    }

    .vedioBox {
      margin: 0 auto;
      width: 888px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;
    }
  }

  .news {
    height: 1082px;
    @include img(url('././../../assets//img/home/news.png'));
    text-align: center;

    .title {
      padding-top: 138px;
      height: 57px;
      font-size: 60px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #054b72;
      line-height: 28px;
      text-shadow: 0px 6px 5px rgba(133, 133, 159, 0.35);
    }

    .newBox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 160px;
      margin-left: 317px;
      margin-bottom: 60px;
      box-sizing: border-box;
    }

    button {
      all: unset;
      width: 160px;
      height: 47px;
      font-size: 16px;
      background: #95bbca;
      border-radius: 5px;
      color: #ffffff;
    }
  }

  // .footer {
  //   height: 594px;
  //   background: #e3f6fe;

  //   .title {
  //     padding-top: 75px;
  //     text-align: center;
  //     height: 24px;
  //     font-size: 24px;
  //     font-family: Source Han Sans SC;
  //     font-weight: 500;
  //     color: #000000;
  //     line-height: 28px;
  //   }

  //   .titleBar {
  //     text-align: center;
  //     width: 100%;
  //     padding-bottom: 44px;

  //     .bar {
  //       display: inline-block;
  //       width: 96px;
  //       height: 2px;
  //       background: #c1d9e7;
  //       box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
  //     }
  //   }

  //   /* 容器样式 */
  //   .form-container {
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);
  //     /* 两列等宽 */
  //     grid-gap: 28px;
  //     /* 格子间隙 */
  //     width: 736px;
  //     /* 最大宽度，根据需要调整 */
  //     margin: 0 auto;
  //     /* 水平居中 */
  //     padding: 8px;
  //   }

  //   /* 输入框样式 */
  //   .form-container input,
  //   textarea {
  //     all: unset;
  //     /* 清除默认样式 */
  //     padding: 8px;
  //     /* 内边距 */
  //     background-color: #95bbca;
  //     box-sizing: border-box;
  //     box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
  //     /* 盒模型 */
  //   }

  //   /* 按钮样式 */
  //   .form-container button {
  //     all: unset;
  //     /* 清除默认样式 */
  //     width: 128px;
  //     height: 38px;
  //     font-size: 14px;
  //     box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
  //     /* 内边距 */
  //     background-color: #95bbca;
  //     text-align: center;
  //     color: #ffffff;
  //     /* 文本居中 */
  //     cursor: pointer;
  //   }

  //   @mixin full() {
  //     grid-column: 1 / -1;
  //   }

  //   /* 单独设置第三行的输入框占满整行 */
  //   .form-container .full-row {
  //     @include full();
  //     height: 99px;
  //   }

  //   .form-container .footerText {
  //     @include full();
  //     padding: 0;
  //     margin-top: -4px;
  //     margin-bottom: 16px;
  //     height: 11px;
  //     font-size: 11px;
  //     font-family: Source Han Sans SC;
  //     font-weight: 500;
  //     color: #5f5f5f;
  //   }

  //   /* 占位符样式 */
  //   .form-container input::placeholder,
  //   textarea::placeholder {
  //     color: #ffffff;
  //     font-size: 14px;
  //   }
  // }
}
