.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    box-sizing: content-box;
  }

  @mixin img($url: url(../../assets/img/home/home_card_video.png)) {
    background: $url no-repeat;
    background-size: 100% 100%;
  }

  @mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .productBox {
    width: 100%;
    padding: 80px 0;
    background-color: #d3eaf4;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 133.1px;

      margin-bottom: 30px;
      background: url(../../assets/img/home/home_ic_logo.png) no-repeat;
      background-size: 172.4px 100%;
      background-position: center;
    }

    .headerText {
      margin-top: 40px;
      width: 270px;
      font-size: 60px;
      font-weight: 400;
      color: #397393;
      line-height: 25px;
      text-align: center;
      text-shadow: 0px 4px 5px rgba(133, 133, 159, 0.35);
    }

    .line {
      height: 15px;
      width: 77px;
      margin-top: 17px;
      margin-bottom: 62px;
      background-size: 100% 100%;
    }

    .more {
      height: 82px;
      font-size: 28px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #95bbca;
      line-height: 82px;
    }

    .moreShawdow {
      width: 255px;
      height: 4px;
      background: #95bbca;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
    position: relative;

    background: #c6e0eb;
    text-align: center;

    .leftTop {
      width: 360px;
      height: 385px;
      position: absolute;
      left: 0;
      top: 0;
    }

    .rightBottom {
      width: 325px;
      height: 456px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .title {
      padding-bottom: 69px;
      width: 100%;
      font-size: 44px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #000000;
    }

    .content {
      a {
        text-decoration: underline;
      }
      width: 1081px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-size: 28px;
      font-family: SourceHanSansSC;
      font-weight: 400;
      color: #5c5c5c;
      line-height: 45px;
      a {
        color: #054b72;
      }
    }
  }

  .someVideo {
    width: 100%;
    padding: 80px 0;
    background: #e3f6fe;
    text-align: center;

    .title {
      margin-bottom: 40px;
      width: 100%;
      height: 57px;
      font-size: 60px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #054b72;
      line-height: 28px;
      text-shadow: 0px 6px 5px rgba(133, 133, 159, 0.35);
    }

    .VideoBox {
      margin: 0 auto;
      width: 888px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
    }
    .more {
      height: 40px;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #95bbca;
      line-height: 40px;
    }

    .moreShawdow {
      width: 128px;
      height: 2px;
      background: #95bbca;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
    }
  }

  .news {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    background-color: #d3eaf4;
    .title {
      height: 57px;
      margin-bottom: 86px;
      font-size: 60px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #054b72;
      line-height: 28px;
      text-shadow: 0px 6px 5px rgba(133, 133, 159, 0.35);
    }

    .newBox {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    button {
      all: unset;
      width: 160px;
      height: 47px;
      margin-top: 71px;
      font-size: 16px;
      background: #95bbca;
      border-radius: 5px;
      color: #ffffff;
    }
  }
}
