.main {
  display: flex;
  justify-content: space-between;
  padding: 18px 12px;
  width: 100%;
  box-sizing: border-box;
  // background-image: url(../../../../assets/img/Instructions/border.png);
  border-bottom: #e7d3c2 4px solid;
  border-right: #e7d3c2 4px solid;
  background-size: cover;
  background-color: #fff;
  background-position-y: bottom;
  margin-bottom: 76px;
  position: relative;

  .fixed {
    position: absolute;
    top: -20px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    div {
      padding-left: 68px;
      background-image: url(../../../../assets/img/Instructions/firstBg.png);
      width: 250px;
      background-size: cover;
      transform: translateX(1px);
      font-size: 24px;
      font-family: PangMenZhengDao;
      font-weight: 400;
      font-style: italic;
      color: #ffffff;
    }

    footer {
      width: 588px;
      height: 2px;
      background: #f0b183;
    }
  }

  aside {
    width: 395px;
    height: 217px;
    margin-right: 30px;

    video {
      width: 395px;
      height: 217px;
    }
    img {
      width: 395px;
      height: 217px;
    }
  }

  .context {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      font-size: 12px;
      font-family: Source Han Sans SC;
      font-weight: 400;
      color: #ec9c5b;
      line-height: 21px;
      margin-bottom: 16px;
    }

    article {
      font-size: 9px;
      font-family: Source Han Sans SC;
      font-weight: 400;
      color: #513f72;
      line-height: 15px;
    }
  }
}
