.header {
  height: 58px;
  background-color: #c2dae7;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 225px;
  padding-left: 428px;
  padding-right: 700px;
  background-color: #95bbca;

  &Left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    &Title {
      margin-bottom: 24px;
      font-size: 12px;
      color: #ffffff;
    }

    &Desc {
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
    }
  }

  &Center {
    height: 60px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &Box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 212px;
      height: 25px;
      background: #333333;
      border: 1px solid #ffffff;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
      opacity: 0.33;
      border-radius: 10px;
      font-size: 12px;
      color: #ffffff;
    }
  }

  &Right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);

    &Img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  height: 51px;
  font-size: 12px;
  color: #fefefe;
  background-color: #86a4b0;
}
