@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/mixins.scss';
.features {
  @include flex-cc-c;
  position: relative;
  top: 0;
  margin-bottom: 80px;
  &Shading {
    width: 194px;
    height: 150px;
  }
  h2 {
    text-wrap: nowrap;
    font-size: 64px;
    color: #397393;
    position: absolute;
    top: 40px;
    // top: -100px;
  }
  // &Symbol {
  //   width: 78px;
  //   height: 16px;
  //   position: relative;
  //   top: -54px;
  // }
}
