@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/mixins.scss';
.features {
  @include flex-cc-c;
  &Shading {
    width: 194px;
    height: 150px;
  }
  h2 {
    font-size: 67px;
    color: #397393;
    position: relative;
    top: -50px;
  }
  &Symbol {
    width: 78px;
    height: 16px;
    position: relative;
    top: -34px;
    margin-bottom: 24px;
  }
}
