.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 18.75%;
  padding-right: 21.6%;
  height: 90px;

  &Logo {
    width: 234px;
    height: 57px;
    margin-right: 12.13%;
  }

  &Tab {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      display: block;
      color: #494949;
      font-size: 20px;
      font-weight: 400;
    }

    &Active {
      color: #361e5e !important;
      text-decoration: underline;
    }
  }

  &Product {
    position: relative;
  }
}
