.product {
  font-size: 12px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
  line-height: 28px;
  padding-left: 20px;

  .title {
    font-size: 14px;
    font-family: Source Han Sans SC;
    font-weight: 400;
    color: #e94f2c;
    line-height: 28px;
  }
  .smallTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
  }
  .nodes {
    display: flex;
    flex-wrap: wrap;

    .node {
      > div {
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .explain {
      font-size: 9px;
      font-family: Source Han Sans SC;
      font-weight: 400;
      color: #333333;
      line-height: 28px;
    }
  }
}
