.table {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &Header {
    height: 35px;
    width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Title {
      padding-top: 2px;
      color: #054b72;
      font-size: 33px;
      line-height: 28px;
      text-shadow: 0px 4px 1px rgba(133, 133, 159, 0.35);
    }

    &Decoration {
      position: relative;
      width: 158px;
      height: 6px;
      background: #054b72;
      box-shadow: 0px 4px 0px 0px rgba(109, 135, 141, 0.6);
      opacity: 0.23;
      border-radius: 3px;
    }
  }

  &Body {
    width: 741px;

    border: 1px solid #397393;
    padding: 38px 32px 0 32px;

    &Content {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }

    &Pagination {
      padding: 33px 0 47px 11px;
      display: flex;
      flex-direction: row;
    }
  }
}
