@import "../../assets/styles/mixins.scss";
.topShow {
  background: #41e125;
  @include flex-cc-c;
  > h2 {
    font-size: 68px;
    font-weight: 600;
    color: #397393;
  }
  > span {
    font-size: 20px;
  }
  .video {
    background: #fff;
    width: 1200px;
    height: 600px;
    padding: 10px;
    border: 3px #968389 dashed;
    > video {
      background: #86b3ec;
      width: 1200px;
      height: 600px;
    }
  }
  .videoDetail {
    margin: 40px;
    > p {
      font-size: 36px;
      > span {
        color: #1b4b65;
      }
    }
  }
  .topLine {
    @include flex-rc-sa;
    height: 150px;
    width: 1200px;
    border-top: 2px solid #1b4b65;
    border-bottom: 2px solid #1b4b65;
    > p {
      font-size: 30px;
      font-weight: 600;
      margin-right: 60px;
    }
    > a {
      text-decoration: underline;
    }
  }
  .interactButton {
    width: 600px;
    @include flex-rc-sb;
    padding: 70px;
    > button {
      border: 0;
      color: #fff;
      width: 221px;
      height: 45px;
      background: linear-gradient(90deg, #80d0e8 0%, #86b3ec 100%);
    }
  }
}
.parse {
  background: #968389;
  @include flex-cc-c;
  height: 40vh;
  > h1 {
    font-size: 44px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
    line-height: 72px;
  }
  >p{
    font-size: 28px;
    color: #5c5c5c;
    >span{
      color: #054B72;
    }
  }
  :last-child{
    color: #054B72;
  }
}
.palyFree{
  background: #d05959;
  height: 140vh;
  @include flex-cc-c;
  .paidContent{
    @include flex-r;
    .interact{
      margin: 100px 50px 0 0;
      .crowd{
        font-size: 43px;
        font-family: Source Han Sans SC;
        font-weight: 800;
        color: #397393;
        text-shadow: 0px 6px 5px rgba(133,133,159,0.35);
        margin-bottom: 30px;
      }
    }
    .PaidForms{
      background: #41e125;
      width: 800px;
      height: 1000px;
    }
  }
}
.TrialForms {
  @include flex-cc-c;
  background-color: #e3f6fe;
}
.footer {
  height: 594px;
  background: #E3F6FE;

  .title {
      padding-top: 75px;
      text-align: center;
      height: 24px;
      font-size: 24px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #000000;
      line-height: 28px;
  }

  .titleBar {
      text-align: center;
      width: 100%;
      padding-bottom: 44px;

      .bar {
          display: inline-block;
          width: 96px;
          height: 2px;
          background: #C1D9E7;
          box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
      }
  }

  /* 容器样式 */
  .form-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* 两列等宽 */
      grid-gap: 28px;
      /* 格子间隙 */
      width: 736px;
      /* 最大宽度，根据需要调整 */
      margin: 0 auto;
      /* 水平居中 */
      padding: 8px;
  }

  /* 输入框样式 */
  .form-container input,
  textarea {
      all: unset;
      /* 清除默认样式 */
      padding: 8px;
      /* 内边距 */
      background-color: #95BBCA;
      box-sizing: border-box;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
      /* 盒模型 */
  }


  /* 按钮样式 */
  .form-container button {
      all: unset;
      /* 清除默认样式 */
      width: 128px;
      height: 38px;
      font-size: 14px;
      box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
      /* 内边距 */
      background-color: #95BBCA;
      text-align: center;
      color: #FFFFFF;
      /* 文本居中 */
      cursor: pointer;
  }

  @mixin full() {
      grid-column: 1 / -1;
  }

  /* 单独设置第三行的输入框占满整行 */
  .form-container .full-row {
      @include full();
      height: 99px;
  }

  .form-container .footerText {
      @include full();
      padding: 0;
      margin-top: -4px;
      margin-bottom: 16px;
      height: 11px;
      font-size: 11px;
      font-family: Source Han Sans SC;
      font-weight: 500;
      color: #5F5F5F;
  }

  /* 占位符样式 */
  .form-container input::placeholder,
  textarea::placeholder {
      color: #FFFFFF;
      font-size: 14px;
  }

}