@import '../../assets/styles/mixins.scss';
.content {
  background: url(../../assets/img/products/backgroud.png);
  background-size: cover;
  width: 100%;
  .topShow {
    @include flex-cc-c;
    padding-top: 228px;
    > h2 {
      font-size: 68px;
      font-weight: 600;
      color: #397393;
    }
    > span {
      font-size: 20px;
    }
    .video {
      background: #fff;
      width: 1200px;
      height: 600px;
      padding: 10px;
      border: 3px #968389 dashed;
      > video {
        background: #86b3ec;
        width: 1180px;
        height: 580px;
      }
    }
    .videoDetail {
      margin: 40px;
      > p {
        font-size: 36px;
        > span {
          color: #1b4b65;
        }
      }
    }
    .topLine {
      @include flex-rc-sa;
      height: 150px;
      width: 1200px;
      border-top: 2px solid #1b4b65;
      border-bottom: 2px solid #1b4b65;
      > p {
        font-size: 30px;
        font-weight: 600;
        margin-right: 60px;
      }
      > a {
        text-decoration: underline;
      }
    }
    .interactButton {
      width: 600px;
      @include flex-rc-sb;
      padding: 70px;
      > button {
        border: 0;
        color: #fff;
        width: 221px;
        height: 45px;
        background: linear-gradient(90deg, #80d0e8 0%, #86b3ec 100%);
      }
    }
  }
  .feature {
    @include flex-cc-c;
    padding: 229px;
    > p {
      font-size: 20;
      color: #404040;
      margin-bottom: 75px;
    }
    &Card {
      width: 1085px;
      @include flex-rc-sa;
    }
  }
  .parse {
    background: #d8ecf4;
    @include flex-cc-c;
    height: 40vh;
    > h1 {
      font-size: 44px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #000000;
      line-height: 72px;
    }
    > p {
      font-size: 28px;
      color: #5c5c5c;
      > span {
        color: #054b72;
      }
    }
    :last-child {
      color: #054b72;
    }
  }
  .palyFree {
    height: 140vh;
    @include flex-cc-c;
    .paidContent {
      @include flex-r;
      .interact {
        margin: 100px 50px 0 0;
        .crowd {
          font-size: 43px;
          font-family: Source Han Sans SC;
          font-weight: 800;
          color: #397393;
          text-shadow: 0px 6px 5px rgba(133, 133, 159, 0.35);
          margin-bottom: 30px;
          > h3 {
            margin-bottom: 20px;
          }
          > p {
            font-size: 24px;
          }
          .request {
            margin-top: 30px;
            width: 300px;
            @include flex-rc-sb;
            > button {
              border: 0px;
              color: #fff;
              width: 134px;
              height: 52px;
              background: #81cde9;
              box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
              border-radius: 26px;
            }
          }
        }
      }
      .PaidForms {
        padding: 0 77px;
        background: #ffffff;
        width: 986px;
        height: 1247px;
        border-radius: 10px;
        overflow: hidden;
        .tab {
          margin-left: 200px;
          margin-bottom: 50px;
          @include flex-rc-sa;
          &Usually {
            @include flex-cc-c;
            color: #ffffff;
            width: 297px;
            height: 110px;
            background: linear-gradient(90deg, #87d9ea 0%, #8ec0ed 100%);
            box-shadow: 0px 6px 5px 0px rgba(133, 133, 159, 0.35);
            border-radius: 0px 0px 10px 10px;
          }
        }
        .attribute {
          border-top: 1px solid #e5eaed;
          padding: 20px;
          @include flex-rc-sb;
          &Title {
            color: #3c3c3c;
            font-size: 20px;
            font-weight: 600;
          }
          &Body {
            @include flex-c;
            align-items: center;
            width: 700px;
            height: 200px;
            background-color: #1b4b65;
          }
        }
      }
    }
  }
  .TrialForms {
    @include flex-cc-c;
    background-color: #e3f6fe;
  }
}
